[defaults]
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
stdout_callback = ansible.builtin.default

[persistent_connection]
connect_timeout = 30
command_timeout = 60
